## editors
.idea
.vscode

## system files
.DS_Store

## npm
frontend/node_modules/
frontend/npm-debug.log

## testing
frontend/coverage/

## temp folders
frontend/.tmp/

## tailwind
frontend/src/tw.css
frontend/src/tw.js

## parcel
frontend/.parcel-cache

# build
frontend/_site/
frontend/dist/
frontend/out-tsc/

frontend/storybook-static
frontend/custom-elements.json
